/*p {
    color: teal;
    font-size: 25px;
    text-align: center;
	margin: 0 auto;
    background color: gray;
}

#first-paragraph {
font-family: helvetica, san-serif;
font-size: 25px;
color: teal; 
}*/
